<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qishuai.app.intent04" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherActivity">
            <intent-filter><action android:name="first"></action>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"></category>
<data android:scheme="http" android:host="com.qishuai.intent04" android:port="8888" android:path="/c/1" android:mimeType="com.qishuai.first/com">

</data>
            </intent-filter>
        </activity>
    </application>

</manifest>
